.qrScanner {
    position: absolute;

    /*top: 150px;*/
    /*left: 29px;*/
    /*width: 302px;*/
    /*height: 530px;*/

    top: calc(22%);
    left: calc(8%);
    width: calc(84%);
    height: calc(75%);

    border-radius: 5px;
    overflow: hidden;
    display: flex;
    background-color: #D9D9D9;
    align-items: center;

}

.textScan {
    position: absolute;
    color: #000;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*align-self: center;*/
    /*left: 110px;*/
    left: calc(100% / 2.85);
    top: 100px;
    font-family: Alata, serif;
    font-size: 27px;
}

#qrCodeContainer {
    position: absolute;

    /*width: 800px;*/
    /*height: 800px;*/
    width: calc(50%);
    height: calc(100%);
    border-radius: 7px;
    overflow: hidden;
}

#qr-shaded-region {
    border-width: 50px;
}


video {
    position: absolute;
    /*width: 300px;*/
    /*height: 500px;*/

    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qr-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
}

.blur-background {
    filter: blur(5px); /* Измените значение для нужной степени размытия */
}