.qrScanner {
    position: absolute;

    /*top: 150px;*/
    /*left: 29px;*/
    /*width: 302px;*/
    /*height: 530px;*/

    /* THE LAST THE BEST VERSION: */
    /*top: calc(22%);*/
    /*left: calc(20%);*/

    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

    /*width: calc(84%);*/
    /*height: calc(75%);*/
    /*width: calc(50%);*/
    /*height: calc(50%);*/

    width: calc(85vw - 10px);
    height: calc(85vw - 10px);
    top: calc(50% - (85vw - 10px) / 2);
    left: calc(50% - (85vw - 10px) / 2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    background-color: #D9D9D9;
    align-items: center;

}

.textScan {
    position: absolute;
    color: #000000;
    left: calc(100% / 2.85);
    top: 100px;
    font-family: Alata, serif;
    font-size: 27px;
}

#qrCodeContainer {
    position: absolute;
    width: 100%;
    padding-top: 100%;
    /*width: 800px;*/
    /*height: 800px;*/
    /*width: calc(50%);*/
    /*height: calc(100%);*/
    border-radius: 7px;
    overflow: hidden;
}

#qr-shaded-region {
    border-width: 100px;
}


video {
    position: absolute;
    width: 100%;
    /*max-width: 800px;*/
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.qr-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
}

.blur-background {
    filter: blur(5px); /* Измените значение для нужной степени размытия */
}