.buttonLink {
    position: absolute;
    top: 368px;
    left: 58px;
    width: 244px;
    height: 65px;
    border-radius: 5px;
    background-color: #40BA21;
}

a:link, a:visited {
    color: #ECECEC;
    font-family: Alata, serif;
    font-size: 20px;
    padding: 2px 20px 3px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}