.buttons_passport div {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.take_photo_passport {
    color: #FFFFFF;
    font-family: Alata, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    padding: 4px 20px 5px 15px;
    background: #40BA21;
    display: flex;
    flex-direction: row;
    flex-group: 1;
    justify-content: center;
}

.take_photo_passport svg {
    margin-right: 6px;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    margin-top: 1px;
}

.take_photo_passport {
    display: flex;
    flex-direction: row;
    flex-group: 1;
    justify-content: center;
}

.buttons_passport {
    position: relative;
    top: 5px;
}