
.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.camera_shot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100vw;*/
    width: calc(100vw - 10px);
    top: 121px;
}

.button_take_photo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 570px;
    left: calc(50% - 35px);
    /*left: 145px;*/
}

.icon_photo {
    position: absolute;
}

.button_retake_photo {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 570px;
    /*left: 130px;*/
    left: calc(50% - 50px);
}

.button_retake_photo svg {
    width: 19px;
    height: 15px;
    flex-shrink: 0;
    margin-right: 7px;
    margin-top: 1px;
}

.button_submit_photo {
    color: #FFFFFF;
    border-radius: 5px;
    background: #40BA21;
    position: absolute;
    padding: 1px 80px 3px 80px;
    top: 530px;
    /*left: 70px;*/
    left: calc(50% - 122px);
}