.qrScanner {
    position: fixed;

    top: 150px;
    left: 29px;

    width: 302px;
    height: 530px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    overflow: hidden;


}

.textScan {
    position: absolute;
    color: #000;
    left: 105px;
    top: 85px;
    font-family: Alata, serif;
    font-size: 27px;
}

#qrCodeContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: 7px;
    overflow: hidden;
}

.qr-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
}


video {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}